<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jоtel</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/details.css}">
</head>
<body>
<div class="banner-details">
    <div class="menu">
        <ul class="menu-list">
            <li class="menu-item "><a th:href="@{/}"><img class="logo" th:src="@{/images/medicine.png}" alt=""></a></li>
            <li class="menu-item"><a th:href="@{/}">Басты бет</a></li>
            <li class="menu-item"><a th:if="${authentication?.principal != null}" th:href="@{/about}">Біз жайлы</a></li>
            <li class="menu-item"><a th:if="${authentication?.principal != null}" th:href="@{/account}">Личный кабинет</a></li>
            <li class="menu-item"><a th:if="${authentication?.principal == null}" th:href="@{/login}">Тіркелу</a></li>
        </ul>
    </div>
</div>

<div class="image-container" onclick="toggleBlock()">
    <img id="toggleImage" th:src="@{/images/strelka.png}" alt="Click Me">
</div>
<div class="hidden-block" id="hiddenBlock">
    <a href="#first" class="hover-text">• Тұмаудың болу себептері</a>
    <a href="#third" class="hover-text">• Үй жағдайында тұмауды емдеу жолдары</a>
    <a href="#fourth" class="hover-text">• Тұмауға қарсы дәрілер</a>
</div>

<div id="first" class="disease-content">
    <div class="column">
        <img id="toggleImage" th:src="@{/images/kazhel15.jpg}" alt="Click Me">
    </div>
    <div class="column">
        <p class="disease-text">
            Жөтелдің пайда болу себептері:
            Инфекциялық аурулар

            Жедел респираторлық вирустық инфекциялар (ЖРВИ), тұмау.
            Бронхит, пневмония, туберкулез.
            Аллергиялық реакциялар

            Шаң, тозаң, жануарлардың жүніне аллергия.
            Химиялық заттар мен иістерге реакция.
            Асқазан-ішек жолдарының мәселелері

            Қышқылдың өңешке кері түсуі (гастроэзофагеалдық рефлюкс).
            Тыныс алу жолдарының тітіркенуі

            Түтін, шаң, химиялық булар.
            Темекі шегу.
            Созылмалы аурулар

            Бронхиалды демікпе.
            Хроникалық обструктивті өкпе ауруы (ХОӨА).
            Жүрек-қан тамырлары аурулары

            Жүрек жеткіліксіздігі (өкпеде сұйықтықтың жиналуынан пайда болатын жөтел).
            Жүйкелік факторлар

            Стрестік немесе психосоматикалық жөтел.
            Медициналық препараттардың жанама әсері

            Кейбір гипертензияға қарсы дәрілер (мысалы, АӨФ ингибиторлары).
            Егер жөтел ұзақ уақыт бойы тоқтамаса немесе қосымша белгілер (қақырық, қызу, тыныс алудың қиындауы) байқалса, міндетті түрде дәрігерге қаралу қажет.

        </p>
    </div>
</div>

<div id="second" class="disease-content">
    <div class="column">
        <img id="toggleImage" th:src="@{/images/kazhel11.jpg}" alt="Click Me">
    </div>
    <div class="column">
        <p class="disease-text">
            Нәрестенің жөтелін емдеу жолдары
            Нәрестенің жөтелін емдеу – ерекше назарды талап ететін процесс. Дәрі-дәрмектерді дәрігердің тағайындауынсыз қолдануға болмайды. Төменде жөтелді жеңілдетуге арналған қауіпсіз және жалпы әдістер келтірілген.

            1. Ылғалды ауа
            Бөлмені ылғалдандыру: Ауа ылғалдандырғышты қолдану немесе бөлмеге су ыдыстарын қою.
            Желдету: Бөлмедегі ауаны таза ұстау, бірақ нәрестені суық желден қорғау.
            2. Мұрынды тазалау
            Тұзды ерітінді қолдану: Мұрынға арнайы тұзды ерітіндіні тамызып, аспиратор арқылы тазалау.
            Тыныс алуды жақсарту: Мұрын бітелуі жөтелді күшейтеді, сондықтан мұрынды таза ұстау маңызды.
            3. Көп сұйықтық беру
            Ана сүті: Емізу жөтел кезінде иммунитетті күшейтуге көмектеседі.
            Судың мөлшері: Егер нәресте қосымша тамақтанып жүрсе, су беру арқылы сұйықтық балансын сақтау.
            4. Буындырушы әсерлерден аулақ болу
            Темекі түтіні, шаң, өткір иістер нәрестенің жөтелін күшейтеді.
            Бөлменің таза және иістерден бос болуын қадағалау.
            5. Массаж жасау
            Жеңіл массаж: Жөтел кезінде нәрестенің арқасын жеңіл қаққылау шырыштың шығуына көмектеседі.
            Денені тіктеп ұстау: Тік жағдайда шырыштың жиналуы азаяды.
            6. Дәрігерлік көмек қажет жағдайлар
            Егер төмендегі белгілер байқалса, дереу дәрігерге жүгіну керек:

            Жөтел 3 күннен артық уақытқа созылса.
            Қақырықта қан немесе жасыл түсті сұйықтық байқалса.
            Температура 38°C-тан жоғары болса.
            Ентігу немесе тыныс алудың қиындауы байқалса.
            Есіңізде болсын:
            Жөтел – тек симптом, оның негізгі себебін анықтап, оны емдеу маңызды. Нәрестені емдеу үшін алдымен педиатрдың кеңесіне жүгіну қажет.
        </p>
    </div>
</div>

<div id="third" class="disease-content">
    <div class="column">
        <img id="toggleImage" th:src="@{/images/producti.jpg}" alt="Click Me">
    </div>
    <div class="column">
        <p class="disease-text">
            Үй жағдайында жөтелді емдеу
            Үй жағдайында жөтелді емдеу үшін төмендегі әдістерді қолдануға болады. Бұл әдістер жөтелдің бастапқы кезеңінде немесе жеңіл түрлерінде тиімді. Ауыр жағдайларда дәрігерге қаралу қажет.

            1. Жылы сусындар
            Бал мен жылы су: Бір стақан жылы суға бір шай қасық бал қосып, аздап ішкізу. (Бал 1 жасқа дейінгі балаларға қолданылмайды!)
            Шөп шайлары: Итмұрын, жалбыз немесе түймедақ шайын жылы күйінде беру.
            2. Ылғалды ауа және бөлмені желдету
            Бөлме ауасын ылғалдандыру: Ауа ылғалдандырғыш қолдану немесе батареяның қасына су құйылған ыдыс қою.
            Таза ауа: Бөлмені жиі желдетіп, таза ауа кіруін қамтамасыз ету.
            3. Бумен демалу (ингаляция)
            Тұзды су буы: Қайнаған суға тұз қосып, бу арқылы демалдыру (аса ыстық болмауын қадағалау керек).
            Шөп буы: Қайнаған суға түймедақ немесе жалбыз қосып, демалдыру.
            4. Кеуде массажы
            Жөтел кезінде арқаны жеңіл қаққылап, шырыштың шығуына көмектесу.
            Майлармен массаж: Эвкалипт майын немесе нәрестелерге арналған арнайы майларды қолданып, кеудені және арқаны уқалау.
            5. Мұрын тазалау
            Тұзды ерітінді: Дәріханадан дайын ерітінді сатып алу немесе өзіңіз дайындау (1 стакан жылы суға 1 шай қасық тұз).
            Аспиратор қолдану: Шырышты мұрыннан тазарту тыныс алуды жеңілдетеді.
            6. Тамаққа көмекші өнімдер
            Сарымсақ пен бал: Ұсақталған сарымсақты балмен араластырып, аздап қолдану.
            Имбирь қосылған шай: Жөтелді жеңілдетіп, тыныс жолдарын тазартады.
            7. Тыныштық және жылы киім
            Жылы орану: Денені жылы ұстау.
            Демалыс: Көп демалу иммунитетті күшейтеді.
            Дәрігерге қашан қаралу керек?
            Жөтел 5–7 күн ішінде басылмаса.
            Жоғары температура (38°C-тан жоғары).
            Қақырықта қан немесе жасыл түсті шырыш болса.
            Ентігу, тыныс алудың қиындауы.
            Бұл әдістер қарапайым жағдайларда көмектеседі. Жөтелдің себебін анықтау және дұрыс ем тағайындау үшін дәрігермен кеңескен дұрыс.
        </p>
    </div>
</div>

<div id="fourth" class="disease-content">
    <div class="column">
        <img id="toggleImage" th:src="@{/images/tuberkulez.jpg}" alt="Click Me">
    </div>
    <div class="column">
        <p class="disease-text">
            Жөтелдің туберкулезге дейін апаратын негізгі себептері
            Туберкулез – өкпе тініне әсер ететін ауыр инфекциялық ауру. Жөтел туберкулездің ең басты белгілерінің бірі болып табылады және келесідей себептер оны асқындыруы немесе осы ауруға алып келуі мүмкін:

            1. Әлсіреген иммунитет
            Иммундық жүйенің төмендеуі: Вирустық инфекциялар, дұрыс тамақтанбау, стресс, немесе созылмалы аурулар иммунитетті әлсіретеді.
            АИТВ/ЖИТС: АИТВ-мен ауыратын адамдарда туберкулез қаупі жоғары.
            2. Жұқпалы ортада болу
            Инфекция көзімен байланыс: Туберкулез микобактериялары (Кох таяқшалары) науқастың жөтелуінен ауаға тарайды және оны ұзақ уақыт жұқтырмаған адамдар жұқтыруы мүмкін.
            Жабық кеңістіктер: Туберкулезді жұқтыру қаупі нашар желдетілетін, адамдар көп жиналған жерлерде жоғары.
            3. Созылмалы жөтелді емдемеу
            Ұзақ уақыт созылған жөтел (созылмалы бронхит, аллергия немесе өкпе аурулары) өкпені зақымдап, инфекцияға сезімтал етеді.
            Ерте анықталмаған және емделмеген тыныс алу жолдарының инфекциялары асқынуы мүмкін.
            4. Туберкулездің латентті формасы
            Белсенді түрге өту: Кейбір адамдарда туберкулез бактериялары ағзада белсенді емес күйде болады. Иммунитет төмендесе, олар белсенділігін арттырып, ауру туындатады.
            5. Темекі шегу және зиянды әдеттер
            Темекі: Өкпе тіндерін зақымдап, инфекцияға қарсы қорғанысты төмендетеді.
            Алкоголь: Алкогольді шамадан тыс тұтыну иммундық жүйені әлсіретеді.
            6. Дұрыс тамақтанбау
            Витамин және минерал жетіспеушілігі: Қоректік заттардың жетіспеуі ағзаның инфекцияға қарсы тұру қабілетін төмендетеді.
            Салмақ жоғалту: Қажетті қоректік заттардың болмауы туберкулездің даму қаупін арттырады.
            7. Жұмыс және тұрмыс жағдайлары
            Жұмыс жағдайы: Шаң, химиялық булармен ұзақ уақыт байланыс өкпеге зиян келтіруі мүмкін.
            Нашар санитарлық-гигиеналық жағдайлар: Таза судың, тамақтың және тиісті медициналық көмектің болмауы.
            8. Туберкулездің алдын алмау
            Вакцинацияның болмауы: BCG вакцинасы туберкулездің ауыр түрлерінен қорғайды.
            Медициналық тексеруден өтпеу: Ерте диагностика және уақытылы емдеу инфекцияның таралуын болдырмайды.
            Алдын алу шаралары
            Иммунитетті нығайту (дұрыс тамақтану, спортпен шұғылдану).
            Көпшілік ортада гигиенаны сақтау (маска тағу, бөлмені желдету).
            Ерте диагностика (жөтел 2 аптадан асса, дәрігерге қаралу).
            Туберкулезге қарсы вакцинация (BCG).
            Егер ұзақ уақытқа созылған жөтел байқалса, оны елемей, дереу медициналық көмекке жүгіну өте маңызды.

        </p>
    </div>
</div>

<div class="footer">
    <div class="footer-column">
        <h4>Контактілер</h4>
        <p>Телефон нөмірі: +7 (123) 456-78-90</p>
        <p>Email: info@example.com</p>
    </div>
    <div class="footer-column">
        <h4>Біз жайлы</h4>
        <p>Біз медицина және денсаулық сақтау саласында сапалы қызмет көрсетеміз. Біздің міндетіміз – сіздің денсаулығыңызды күту.</p>
    </div>
    <div class="footer-column">
        <h4>Әлеуметтік желілер</h4>
        <p class="social-link">
            <a href="#" class="social-item">
                <img th:src="@{/images/instagram.webp}" alt="Instagram" class="social-img">
                Instagram
            </a>
        </p>
        <p class="social-link">
            <a href="#" class="social-item">
                <img th:src="@{/images/Facebook.png}" alt="Facebook" class="social-img">
                Facebook
            </a>
        </p>
        <p class="social-link">
            <a href="#" class="social-item">
                <img th:src="@{/images/ChatGPT.jpg}" alt="ChatGPT" class="social-img">
                ChatGPT
            </a>
        </p>
    </div>
</div>

<script th:src="@{/scripts/script.js}"></script>
</body>
</html>
