body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.image-container img {
    position: absolute;
    left: 2px;
    width: 50px; /* Уменьшаем ширину картинки */
    height: auto; /* Пропорциональная высота */
    cursor: pointer;
    top: 300px;
    transition: left 1s ease; /* Плавное движение */
}

.hidden-block {
    display: none; /* Блок скрыт по умолчанию */
    position: absolute;
    top: 5px;
    left: -300px; /* Изначально скрыт за левым краем */
    width: 300px;
    height: 900px;
    padding: 10px;
    background-color: #f0f8ff; /* Установлен цвет */
    color: white;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: left 1s ease; /* Плавное движение */
}

.hover-text {
    color: black; /* Исходный цвет текста */
    cursor: pointer; /* Указатель мыши */
    font-size: 16px; /* Исходный размер текста */
    transition: color 0.3s ease, transform 0.3s ease; /* Плавный переход цвета и масштаба */
}

.hover-text:hover {
    color: green; /* Цвет текста при наведении */
    transform: scale(1.2); /* Увеличение текста */
}